<template>
  <v-content class="content">
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <div class="wrap">
          <v-btn
            class="button"
            :color="btnColor"
            @click="toggleTick"
          >
            {{ btnTitle }}
          </v-btn>
          <div
            v-if="isActive"
            class="signal"
            :style="setSignalStyle"
          />
        </div>

        <v-btn flat icon color="grey" absolute right @click="isOpenSettings = !isOpenSettings">
          <v-icon>settings</v-icon>
        </v-btn>

        <v-navigation-drawer
          v-model="isOpenSettings"
          absolute
          temporary
          right
        >
          <v-toolbar flat>
            <v-list>
              <v-list-tile>
                <v-list-tile-title class="title">
                  Настройки
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-toolbar>

          <v-divider></v-divider>

          <v-list
          >
            <v-subheader>Громкость: {{ volume }}</v-subheader>
            <v-list-tile>
              <v-slider
                v-model="volume"
                @change="resetMetronomeSettings"
                always-dirty
                min="0"
                max="100"
              >
                <template v-slot:prepend>
                  <v-icon>remove</v-icon>
                </template>

                <template v-slot:append>
                  <v-icon>add</v-icon>
                </template>
              </v-slider>
            </v-list-tile>
            
            <v-subheader>Темп: {{ tempo }} bpm - {{ getTempoName }}</v-subheader>
            <v-list-tile>
              <v-slider
                v-model="tempo"
                @change="resetMetronomeSettings"
                always-dirty
                min="40"
                max="218"
              >
                <template v-slot:prepend>
                  <v-icon>remove</v-icon>
                </template>

                <template v-slot:append>
                  <v-icon>add</v-icon>
                </template>
              </v-slider>
            </v-list-tile>

            <v-list-tile>
              <v-layout justify-center>
                <v-btn
                  flat
                  color="primary"
                  @click="setRandomTempo"
                >
                  Случайный темп
                </v-btn>
              </v-layout>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import { setInterval, clearInterval } from 'timers';
  export default {
    data: () => ({
      isActive: false,
      id: null,
      interval: 1000,
      isOpenSettings: null,
      tempo: 90,
      volume: 50,
    }),
    created: function () {
      // create web audio api context
      const AudioContext = window.AudioContext || window.webkitAudioContext;
      this.audioCtx = new AudioContext();
      // space button is activating the metronome
      document.addEventListener('keyup', (event) => {
        if (event.key === ' ') {
          this.toggleTick();
        }
      })
    },
    computed: {
      btnTitle: function() {
        return this.isActive ? 'Стоп' : 'Cтарт';
      },
      btnColor: function() {
        return this.isActive ? 'secondary' : 'primary';
      },
      setSignalStyle: function() {
        return { 
          'animation-duration': `${this.interval}ms`,
          'animation-delay': `${this.interval}ms`,
        }
      },
      getTempoName: function() {
        if (this.tempo <= 60) return 'Largo';
        if (this.tempo <= 66) return 'Larghetto';
        if (this.tempo <= 76) return 'Adagio';
        if (this.tempo <= 108) return 'Andante';
        if (this.tempo <= 120) return 'Moderato';
        if (this.tempo <= 156) return 'Allegro';
        if (this.tempo <= 200) return 'Presto';
        if (this.tempo <= 218) return 'Prestissimo';
        return null;
      }
    },
    methods: {
      toggleTick: function() {
        if (this.isActive) {
          this.stopMetronome();
        } else {
          this.startMetronome()
        }
        this.isActive = !this.isActive;
      },
      startMetronome() {
        this.getInterval(this.tempo);
        this.initTick();
      },
      stopMetronome() {
        clearInterval(this.id);
        this.id = null;
      },
      getInterval(tempo) {
        this.interval = Math.round((60 / tempo) * 1000);
      },
      initTick() {
        this.id = setInterval(() => this.createNote(), this.interval);
      },
      createNote() {
        // creating nodes
        const oscillator = this.audioCtx.createOscillator();
        const gainNode = this.audioCtx.createGain();
        // gain settings
        gainNode.gain.value = this.volume / 100;
        // connecting
        oscillator.connect(gainNode);
        gainNode.connect(this.audioCtx.destination);
        // playing
        oscillator.start();
        oscillator.stop(this.audioCtx.currentTime + 0.1); // 0.1 - it's the length of note = 100ms
      },
      resetMetronomeSettings() {
        if (this.isActive) {
          this.stopMetronome();
          this.startMetronome();
        }
      },
      setRandomTempo() {
        const minTempo = 40;
        const maxTempo = 209;
        this.tempo = Math.floor(Math.random() * (maxTempo - minTempo)) + minTempo;
        this.resetMetronomeSettings();
      },
      // TODO: добавить изменение громкости
    },
  }
</script>


<style lang="scss" scoped>
  .content {
    overflow: hidden;
  }

  .wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 2;
  }

  .signal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #cd5c5c;
    position: absolute;
    z-index: 1;
    transition: opacity .3s, transform .3s;
    animation: pulseAnimation 1000ms cubic-bezier(0.24, 0, 0.38, 1) infinite;
  }

  @keyframes pulseAnimation {
    0% {
      opacity: 0.8;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
</style>

