<template>
  <v-app>
    <Metronome/>
  </v-app>
</template>

<script>
import Metronome from './components/Metronome'

export default {
  name: 'App',
  components: {
    Metronome
  },
}
</script>

<style>
  html {
    overflow: initial;
  }

  html, body {
    min-width: 320px;
  }
</style>
